body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D4D2D2;
    align-items: center;
    /* display: flex;
    flex-direction: column; */

}

header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #fff;
    padding: 55px 0 55px 0;
    position: relative;
    border: 3px solid#000;
    width: 95%;
    margin: 20px auto 0 auto;
    border-radius: 12px;

}

header .mascota {
    width: 190px;
    position: absolute;
    right: 40px;
    top: 2px;

}

header .patitas {
    position: absolute;
    left: 215px;
    top: auto;
    width: 150px;
    transform: rotate(-15deg);

}

header h1 {
    margin-top: 10px;
    font-size: 32px;
    color: #333333;
}

header h2 {
    margin-top: -5px;
    font-size: 30px;
    color: #2A2A2A;
}

nav {
    text-align: center;
    padding: 10px 0;
    background-color: #8A8080;
    border: 2px solid#000;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

nav a {
    color: #4C2A70;
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

div {
    padding: 10px;
    width: 65%;
    float: left;
    margin-left: 0.2%;
}

section {
    background-color: #dcd6d6;
    border: 2px solid #999999;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px #C0C0C0;
    min-height: 165px;
    position: relative;
    margin-left: 25px;
}

section h2 {
    margin-top: 0px;
    font-size: 24px;
    color: #333333;
}

section img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 5px;
    border: 4px solid #9999;
}

section p {
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
    color: #333333;
}

aside {
    width: 28%;
    background-color: #DCD6D6;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    float: right;
    min-height: 420px;
    box-shadow: 0px 0px 6px #C0C0C0;
    margin-right: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

aside h2 {
    text-align: center;
    font-family: "arial black", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

aside label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

aside input {
    width: 50%;
    padding: 3px;
    margin-top: 4px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
}

aside input:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}

aside button {
    margin: 20px 0 auto;
    padding: 6px 15px;
    border: 1px solid #000;
    background-color: #d9d6d6;
    cursor: pointer;
    border-radius: 4px;
}

aside button:hover {
    background-color: #c2bebf;
}

footer {
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    padding: 20px 0;
    margin-top: 45px;
    margin: auto;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    clear: both;

}